---
// src/pages/focus-areas/index.astro
import Layout from '../../layouts/MainLayout.astro';
import { Image } from 'astro:assets';
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import PageTitle from "../../components/PageTitle.astro";
import { getAlumni } from '../../lib/googleSheets';

import featureImage from '../../images/featured-images/people-alumni.jpg';
import ogFeatureImage from '../../images/featured-images/og/people-alumni.jpg';
const alumni = await getAlumni();
const sortedAlumni = [...alumni].sort((a, b) => Number(b.graduationYear) - Number(a.graduationYear));
---

<Layout title="Alumni | Michigan Robotics" image={ogFeatureImage} description="Michigan Robotics alumni who are making a difference in the field of robotics.">
    <Breadcrumbs />
    <PageTitle title="Alumni" image={featureImage} imageAlt="Graduates file in for commencement" />
          <div class="prose dark:prose-invert mt-8 mb-4 max-w-6xl w-11/12 mx-auto">
            <h2 class="text-xl font-roboto text-umichblue dark:text-white leading-relaxed font-normal">"Wherever you go, go blue!"</h2>
            Get a sense of the roles and organizations that Michigan Robotics alumni take on after graduation. The alumni below are only a small sample of the many talented individuals who have graduated from the program.

          <div class="relative overflow-x-auto shadow-md sm:rounded-lg p-4">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-200">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-200">
                <tr>
                  <th scope="col" class="px-6 py-3">
                    Name
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Graduation Year
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Degree
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Title
                  </th>
                </tr>
              </thead>
              <tbody>
                  {sortedAlumni.map((alumni) => (
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td scope="row" class="px-6 py-4">
                      {alumni.fullName}
                    </td>
                    <td class="px-6 py-4" role="cell">
                      {alumni.graduationYear}
                    </td>
                    <td class="px-6 py-4" role="cell">
                      {alumni.degree}
                    </td>
                    <td class="px-6 py-4" role="cell">
                      {alumni.title}
                    </td>
                  </tr>
                ))}
              </tbody>
            </table>
          </div>
        </div>
</Layout>