---
// src/pages/focus-areas/index.astro
import Layout from '../../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import PageTitle from "../../../components/PageTitle.astro";
import SubNav from '../../../components/SubNav.astro';
import Link from '../../../components/Link.astro';
import ContentImage from '../../../components/ContentImage.astro';
import featureImage from '../../../images/featured-images/research-focus-areas.jpg';
import ogFeatureImage from '../../../images/featured-images/og/research-focus-areas.jpg';

// Get all focus areas from the content collection
const focusAreas = await getCollection('focusAreas');
// Sort them by title if needed
const sortedAreas = focusAreas.sort((a, b) => 
  a.data.title.localeCompare(b.data.title)
);

---

<Layout title="Research Focus Areas | Michigan Robotics" description="University of Michigan Robotics research focuses on a wide range of areas and applications." image={ogFeatureImage}>
    <Breadcrumbs />
    <PageTitle title="Research Focus Areas" image={featureImage} imageAlt="A quadcopter drone in flight at M-Air testing facility" />
      <div class="mt-4 mb-4 max-w-6xl w-11/12 mx-auto">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
            {sortedAreas.map((area) => (
              <div class="group cursor-pointer">
                <Link href={`/research/focus-areas/${area.id}`} 
                   class="block relative overflow-hidden rounded-lg shadow-lg">
                  <div class="aspect-auto relative">
                    <Image 
                      src={area.data.image?.src}
                      alt={area.data.image?.alt}
                      width={400}
                      height={200}
                      class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
                    />
                    <div class="absolute inset-0 bg-gradient-to-b from-lawQuadStone dark:from-matthaeiViolet to-transparent">
                      <div class="absolute top-0 left-0 right-0 p-4">
                        <h2 class="text-xl font-semibold text-white mb-2">
                          {area.data.title}
                        </h2>
                        <p class="text-gray-200 text-sm opacity-0 group-hover:opacity-100 transform translate-y-4 group-hover:translate-y-0 transition-all duration-300">
                          {area.data.description}
                        </p>
                      </div>
                    </div>
                  </div>
                </Link>
              </div>
            ))}
          </div>
      </div>
</Layout>
          