---
import Layout from '../../../layouts/MainLayout.astro';
import { getStaffData } from '../../../lib/googleSheets';
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import PageTitle from "../../../components/PageTitle.astro";

const staffMembers = await getStaffData();
---

<Layout title="Staff Directory">
  <div>
    <Breadcrumbs />
    <PageTitle title="Staff Directory" />
    <div class="mx-2 m-auto mb-4 md:mx-12">
      <div class="relative mb-16">
       <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-6 pt-10 px-2">
          {staffMembers.map((staff) => (
            <a
              href={`${Astro.url.pathname}/${staff.slug}`}
              class="block rounded-sm shadow-md hover:shadow-lg transition-shadow p-4 bg-white dark:bg-gray-800"
            >
              {staff.photoURL && (
                <img
                  src={staff.photoURL}
                  alt={staff.fullName}
                  class="w-full h-48 object-cover rounded-sm mb-3"
                />
              )}
              <h2 class="text-lg font-bold mb-1 text-gray-900 dark:text-white">{staff.preferredName} {staff.lastName}</h2>
              <p class="text-sm text-arboretumBlue dark:text-taubmanTeal">{staff.title}</p>
              <p class="text-xs text-gray-600 dark:text-gray-300">{staff.affiliation}</p>
            </a>
          ))}
        </div>
      </div>
    </div>
  </div>
</Layout>
