---
import { eventsQuery } from '../lib/api';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
const eventsData = await eventsQuery();
---
{eventsData.length > 0 && (
    <section id="events" class="mb-12">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-6">Events</h2>
      <div class="grid grid-cols-1 sm:flex sm:flex-row sm:gap-6 not-prose">
        {eventsData.slice(0,4).map((event, index) => (
          <a href={event.permalink} class={`group bg-white dark:bg-gray-800 shadow-md rounded-sm overflow-hidden hover:shadow-lg transition-all duration-300 hover:scale-[1.02] flex flex-col mb-6 last:mb-0 sm:mb-0 sm:flex-1 ${index !== 0 ? 'sm:ml-6' : ''}`}>
            <div class="relative">
              <span class="absolute top-2 left-0 text-xs font-medium px-4 py-1 bg-matthaeiViolet text-white shadow-md">
                upcoming event
              </span>
            </div>
            <Image 
              src={event.styled_images.event_feature_large}
              alt={event.image_description || "Event image"}
              width={446}
              height={297}
              class="w-full h-48 object-cover"
              loading="lazy"
              format="webp"
              quality={80}
            />
            <div class="p-4 flex-grow flex flex-col justify-between">
              <div>
                <p class="text-sm italic font-sans text-gray-600 dark:text-gray-400 mb-2">
                  <time datetime={event.datetime_start}>
								  {new Date(event.datetime_start.replace(
									/(\d{4})(\d{2})(\d{2})T(\d{2})(\d{2})(\d{2})/,
									"$1-$2-$3T$4:$5:$6"
								  )).toLocaleString('en-US', {
									month: 'long',
									day: 'numeric',
									year: 'numeric',
									hour: 'numeric',
									minute: '2-digit',
									hour12: true
								  })}
								</time>   </p>
                <h3 class="text-lg font-roboto font-bold text-umichblue dark:text-gray-100 mb-2 border-b-2 border-transparent group-hover:border-maize transition-all duration-300">
                  {event.event_title}
                  <Icon name="mdi:open-in-new" class="inline w-4 h-4 ml-1" />
                </h3>
                {event.event_subtitle && (
                  <h4 class="text-base font-roboto text-gray-600 dark:text-gray-300 mb-2">{event.event_subtitle}</h4>
                )}
              </div>
            </div>
          </a>
        ))}
      </div>
    </section>
    )}


