---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  title: string;
  date: string;
  slug: string;
  excerpt?: string;
  href?: string;
  image?: {
    src: ImageMetadata;
    alt: string;
  };
  isLarge?: boolean;
}

const { 
  title, 
  date, 
  slug, 
  excerpt,
  href,
  image, 
  isLarge = false 
} = Astro.props;

const linkPath = href || `/news/${new Date(date).getFullYear()}/${slug}`;
---

<a href={linkPath} 
   class={`no-underline group block surface-accent rounded-sm not-prose hover:shadow-lg transition-all duration-300 hover:scale-[1.02] ${isLarge ? 'md:col-span-2' : ''}`}>
  {image?.src && (
    <div class="aspect-video overflow-hidden">
      <Image 
        src={image.src}
        alt={image.alt}
        width={isLarge ? 760 : 450}
        height={isLarge ? 384 : 300}
        class={`w-full h-full object-cover`}
      />
    </div>
  )}
  <div class="p-4">
    <h3 class="text-xl font-roboto font-bold mb-2 text-umichblue dark:text-gray-100 border-b-2 border-transparent group-hover:border-maize transition-all duration-300">{title}</h3>
    <p class="text-sm italic font-sans text-gray-600 dark:text-gray-300 mb-4">
      {new Date(date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
    </p>
    {excerpt && <p class="text-gray-600 dark:text-gray-200 mb-0">{excerpt}</p>}
  </div>
</a>