---
//list of student services staff members

import { getStaffData } from '../lib/googleSheets';

const staff = await getStaffData();

const studentServicesStaff = staff.filter(member => member.studentServices)
--- 
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 not-prose w-full">
    {studentServicesStaff.map(member => (
      <div class="flex">
        <a
          href={`/people/staff/${member.slug}`}
          class="block w-full rounded-sm shadow-md hover:shadow-lg transition-shadow p-4 bg-white dark:bg-gray-800"
        >
          <div class="aspect-w-1 aspect-h-1 mb-3">
            {member.photoURL && (
              <img
                src={member.photoURL}
                alt={member.fullName}
                class="w-full h-full object-cover rounded-sm"
              />
            )}
          </div>
          <h2 class="text-lg font-bold mb-1 text-gray-900 dark:text-white">
            {member.preferredName} {member.lastName}
          </h2>
          <p class="text-sm text-arboretumBlue dark:text-taubmanTeal">
            {member.title}
          </p>
          <p class="text-sm text-gray-600 dark:text-gray-400">
            {member.office}
          </p>
        </a>
      </div>
    ))}
  </div>
  