---
import Layout from '../../layouts/MainLayout.astro';
import { getEntry, render } from 'astro:content';
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import ContentImage from "../../components/ContentImage.astro";
import PageTitle from "../../components/PageTitle.astro";
import { components } from '../../components/components';
// Get the index content from the academics collection
const page = await getEntry('academics', 'index');
const { Content } = await render(page);

---

<Layout title={`${page.data.title} | Michigan Robotics`}> 
  <Breadcrumbs />
  <PageTitle title={page.data.title} image={page.data.image?.src} imageAlt={page.data.image?.alt} />
 
    <article class="prose dark:prose-invert max-w-6xl w-11/12 mx-auto mt-4 mb-4 prose-headings:font-roboto prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl prose-h5:text-lg prose-h6:text-base prose-headings:font-bold">
      <div class="mb-8 mt-8 relative">
        <h2 class="text-xl font-roboto text-gray-800 dark:text-gray-200 leading-relaxed not-prose italic tracking-wide">
          {page.data.subtitle}
        </h2>
        <div class="subtitle-double-line"></div>
      </div>
      <Content components={components} />
    </article>
  </main>
</Layout>