---
import Layout from '../../../layouts/MainLayout.astro';
import { getFacultyData, getProfileImagePath } from '../../../lib/googleSheets';
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import PageTitle from "../../../components/PageTitle.astro";
import { Image } from 'astro:assets';

const facultyMembers = await getFacultyData();

// Get all profile images
const images = import.meta.glob('/src/images/profile-images/*.{png,jpg,jpeg,gif,webp}');
const robotProfile = await import('../../../images/profile-images/robot-profile.jpg');

// Process image paths
const profileImages = await Promise.all(
  facultyMembers.map(async (faculty) => {
    const imagePath = getProfileImagePath(faculty);
    const imageLoader = images[imagePath];
    
    if (imageLoader) {
      const image = await imageLoader();
      return image.default;
    }
    
    return robotProfile.default;
  })
);

---

<Layout title="Faculty Directory | Michigan Robotics" description="University of Michigan Robotics faculty members who are leading the field of robotics.">
<Breadcrumbs />
<PageTitle title="Faculty Directory" />
    <div class="mx-2 m-auto mb-4 md:mx-12">
      <div class="relative mb-16">
       <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-6 pt-10 px-2">
          {facultyMembers.map((faculty, index) => (
            <a
              href={`${Astro.url.pathname}/${faculty.slug}`}
              class="group no-underline surface card-base card-hover p-0 border border-arboretumBlue/20 dark:border-arboretumBlue/30 flex flex-col"
            >
              <Image
                src={profileImages[index]}
                alt={`Portrait of ${faculty.fullName}`}
                width={566}
                height={192}
                loading={index < 2 || 
                  (index < 4 && 'sm:hidden') || 
                  (index < 6 && 'md:hidden') || 
                  (index < 8 && 'lg:hidden') || 
                  (index < 10 && 'xl:hidden') || 
                  (index < 12 && '2xl:hidden') ? 'eager' : 'lazy'}
                class="w-full h-48 object-cover"
              />
              <div class="p-4 flex-grow border-t border-arboretumBlue/20 dark:border-arboretumBlue/30">
                <h2 class="text-lg font-bold mb-2 text-umichblue dark:text-neutral-50 group-hover:underline group-hover:decoration-maize group-hover:decoration-2">{faculty.preferredName} {faculty.lastName}</h2>
                <div class="space-y-1">
                  <p class="text-sm text-arboretumBlue dark:text-neutral-200">{faculty.title}</p>
                  {faculty.additionalTitle1 && (
                    <p class="text-sm text-arboretumBlue dark:text-neutral-200">{faculty.additionalTitle1}</p>
                  )}
                </div>
              </div>
            </a>
          ))}
        </div>
      </div>
    </div>
</Layout>
