---
import Layout from '../../../../layouts/MainLayout.astro';
import { getEmeritusFacultyData } from '../../../../lib/googleSheets';
import Breadcrumbs from "../../../../components/Breadcrumbs.astro";
import SubNav from "../../../../components/SubNav.astro";

const facultyMembers = await getEmeritusFacultyData();
---

<Layout title="Faculty Directory">
  <main>
    <div class="max-w-6xl w-11/12 mx-auto py-2">
      <Breadcrumbs />
    </div>
    
    <div class="mt-4 mb-4 max-w-6xl w-11/12 mx-auto">
      <div class="w-full bg-umichblue dark:bg-arboretumBlue shadow-lg">
        <div class="p-3 pb-6 md:p-8">
          <h1 class="text-4xl font-roboto text-white font-bold">
            <span class="relative border-b-4 border-maize">Emeritus Faculty</span>
          </h1>
        </div>
      </div>
      <SubNav />
    </div>
    <div class="mx-2 m-auto mb-4 md:mx-12">
      <div class="relative mb-16">
       <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-6 pt-10 px-2">
          {facultyMembers.map((faculty) => (
            <a
              href={`${Astro.url.pathname}/${faculty.slug}`}
              class="block rounded-sm shadow-md hover:shadow-lg transition-shadow p-4 bg-white dark:bg-gray-800"
            >
              {faculty.photoURL && (
                <img
                  src={faculty.photoURL}
                  alt={faculty.name}
                  class="w-full h-48 object-cover rounded-sm mb-3"
                />
              )}
              <h2 class="text-lg font-bold mb-1 text-gray-900 dark:text-white">{faculty.preferredName} {faculty.lastName}</h2>
              <p class="text-sm text-arboretumBlue dark:text-taubmanTeal">{faculty.title}</p>
              <p class="text-xs text-gray-600 dark:text-gray-300">{faculty.affiliation}</p>
            </a>
          ))}
        </div>
      </div>
    </div>
  </main>
</Layout>
