---
import MainLayout from '../../layouts/MainLayout.astro';
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import PageTitle from "../../components/PageTitle.astro";
import { Icon } from "astro-icon/components";
import featuredImage from "../../images/featured-images/intranet.jpg";
import ogFeatureImage from "../../images/featured-images/og/intranet.jpg";

// Get user info from edge function
const userName = Astro.request.headers.get('X-User-Name')?.split(' ')[0] || 'Friend';

const sections = {
  department: {
    title: "Department",
    links: [
      {
        text: "Bylaws",
        url: "https://docs.google.com/document/d/1DKFJ1trOrYDGgjL1K8IVTPk56UVukzzbmHf9j0Z8d6E/edit?usp=sharing",
        searchTerms: "rules regulations policies governance"
      },
      {
        text: "Calendar",
        url: "https://calendar.google.com/calendar/u/0?cid=dW1pY2guZWR1XzE1YWkzcTRrc3NvZXR2M29mZGJmZG42NHA4QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20",
        searchTerms: "schedule events meetings department calendar"
      },
      {
        text: "Mcommunity email lists",
        url: "https://docs.google.com/document/d/1aWUJKjZv0nMOTuV9-pDmqn0tC5hQcntMO3j-TbEAUWQ/edit",
        searchTerms: "mailing lists listserv groups communication contact directory"
      },
      {
        text: "Robotics Institute Task Force",
        url: "https://sites.google.com/umich.edu/robotics-institute-task-force/home",
        searchTerms: "committee planning strategy development initiatives"
      },
      {
        text: "ROB Org Chart (Updated 3.28.24)",
        url: "https://www.dropbox.com/scl/fi/263j494yzqm1msxyaczn9/ROB-Org-Chart-3.28.24.pdf?rlkey=g1ab64kc48n63joei9juewtbu&dl=0",
        searchTerms: "organization structure hierarchy reporting chain leadership roles positions"
      },
      {
        text: "Service Assignments",
        url: "https://docs.google.com/document/d/13n8S1TeOgByk4SkL0POml5nLMGGwEgdQTxYE9wAkZHU/edit?usp=sharing",
        searchTerms: "committee assignments faculty service responsibilities duties"
      },
      {
        text: "Lunch and Learn recordings",
        url: "https://drive.google.com/drive/folders/10C7619W-zsGFUPifG2m3-JXaj7T54N0e?usp=sharing",
        searchTerms: "presentations talks seminars videos training education professional development"
      }
    ]
  },
  building: {
    title: "Building",
    links: [
      {
        text: "General building map",
        url: "https://www.dropbox.com/scl/fi/f4qgl5o2bu8eaw04iu2od/building-map-general-2024.pdf",
        searchTerms: "floor plan layout directions rooms offices location where find"
      },
      {
        text: "Wiki",
        url: "https://docs.google.com/document/d/1uULvy324XQPQb2adQmx-FWBln96syexD-_mzzv79jUY/",
        searchTerms: "information guide documentation help resources faq building info"
      },
      {
        text: "Building maintenance request",
        description: "Email: coe-facilities-help@umich.edu",
        searchTerms: "repairs fix broken maintenance facilities issues problems temperature hvac cleaning"
      },
      {
        text: "Room reservations",
        url: "https://deptapps.engin.umich.edu/scheduling/?dept=210308",
        searchTerms: "book meeting conference room space schedule reserve booking"
      },
      {
        text: "Atrium reservation form",
        url: "https://docs.google.com/forms/d/e/1FAIpQLSejyppTUR70QxGRJj6_jcBlO_vNx3acMdVOx2wp9by07H-5iw/viewform",
        searchTerms: "event space booking reserve schedule lobby main entrance area"
      },
      {
        text: "Small Event Catering",
        url: "https://docs.google.com/forms/d/e/1FAIpQLSfcwfumOVzzmKIk3A_as2NZ7thu551SB_wY_rtLELkXzgBEhg/viewform",
        searchTerms: "food drinks refreshments order meals events meetings"
      },
      {
        text: "Space request",
        url: "https://docs.google.com/forms/d/e/1FAIpQLSepuzlb7IQchnzKGWL_SNCFb1a9uAcOIgFeKvYJ-JWWIB8Mxg/viewform",
        searchTerms: "room office space allocation request desk workspace"
      },
      {
        text: "Deliveries and packages",
        url: "https://docs.google.com/document/d/11AI8aUeWoeGzSsJmfPbPF9nMifhDxKeAh-wkjNwIrvw/",
        searchTerms: "mail shipping receiving delivery post office ups fedex amazon"
      }
    ]
  },
  it: {
    title: "IT Resources",
    links: [
      {
        text: "Connect to wired network",
        url: "https://docs.google.com/document/d/1zKgSzZWGI2Hw7g4Ds7D7k5g4urPYUjuP2ONT34mbnQo/",
        searchTerms: "ethernet internet connection network wifi setup configure"
      },
      {
        text: "Phone manual",
        url: "https://www.cisco.com/c/en/us/td/docs/voice_ip_comm/cuipph/8800-series/english/user-guide/P881_BK_C3A802A0_00_cisco-ip-phone-8800-user_guide/P881_BK_C3A802A0_00_cisco-ip-phone-8800-user_guide_chapter_01.html",
        searchTerms: "telephone cisco voip instructions guide setup how to use"
      },
      {
        text: "Printing setup",
        url: "https://docs.google.com/document/d/1aC8tJQZMqGxVHorQL4HOvWmkz0dn-MNH83NJT-kCCUg/",
        searchTerms: "printer install configuration scanner copy scan"
      },
      {
        text: "Fax how-to",
        url: "https://docs.google.com/document/d/1lWsIEGx_R8wJoJch05eYKGqRMGDaYGZFGT7eDPkSLyI/",
        searchTerms: "send receive fax instructions guide"
      },
      {
        text: "Display setup",
        url: "https://docs.google.com/document/d/120ce_nKzH82Cjh9QZIYXLDCwSZ5CqanlP1foTaYE7mg/",
        searchTerms: "monitor screen tv projector conference room presentation display"
      },
      {
        text: "IT Help / Create a ticket",
        description: "Contact David Parkin: IT-Help-Robotics@umich.edu",
        searchTerms: "computer technical support help desk issues problems troubleshooting assistance"
      }
    ]
  },
  purchasing: {
    title: "Purchasing & Travel",
    links: [
      {
        text: "Purchasing",
        url: "https://deptapps.engin.umich.edu/order/index/newform?dept=210308",
        searchTerms: "buy order purchase request procurement supplies equipment materials expense"
      },
      {
        text: "Purchasing instructions",
        url: "https://docs.google.com/document/d/1wDdRHeSoE3shV4FTMwPzKv4n3F8vf1YK/edit",
        searchTerms: "how to buy guide help purchase order instructions procurement process steps"
      },
      {
        text: "Travel guidelines & reimbursement",
        url: "https://docs.google.com/document/d/1bSWnEMF9uvNNSRkaCThgoCZ0osYIwZDmTaWWESZmBac/edit?usp=sharing",
        searchTerms: "travel expense report concur flights hotels transportation conference reimbursement money costs"
      }
    ]
  },
  academics: {
    title: "Academics",
    links: [
      {
        text: "Graduate Program guide",
        url: "https://docs.google.com/document/d/e/2PACX-1vTCjWRdEl4wM_n4oIU875yAzzG_4tBdmqnJcj4gNntgyG3Q5LY0qw_J_ei5nqmMEi1ljJpfvLbGCzdJ/pub",
        searchTerms: "phd masters graduate student handbook requirements courses curriculum program study"
      },
      {
        text: "Undergraduate Program guide",
        url: "http://robotics.umich.edu/undergrad-guide",
        searchTerms: "undergraduate bachelors degree requirements courses curriculum program study bsrob"
      },
      {
        text: "UGRAB",
        url: "https://deptapps.engin.umich.edu/app/staff/appfile?dept=210308",
        searchTerms: "undergraduate research application program student opportunities lab work"
      }
    ]
  },
  outreach: {
    title: "Outreach",
    links: [
      {
        text: "Outreach opportunities",
        url: "https://docs.google.com/spreadsheets/d/19nhZK_DM6uF_YKqY0mlQarLoiZuDJGgBw6g0dWkxZkg/",
        searchTerms: "volunteer community service engagement public education k12 stem schools teaching"
      },
      {
        text: "Outreach Ambassador tracking form 2024-25",
        url: "https://docs.google.com/forms/d/e/1FAIpQLScCeyhrKtlSWBLor1DH4_sU_4uYzYV7KAovBGjg21VLFpDQZQ/viewform",
        searchTerms: "volunteer hours log record service community engagement tracking report"
      },
      {
        text: "Student funding request form",
        url: "https://docs.google.com/forms/d/e/1FAIpQLScRMEHaY3C9rI7vcnbFRH4vCD81UHnn6mbvmU1kPSA6Tj1tPw/viewform",
        searchTerms: "money support financial assistance grant funding student request reimbursement"
      },
      {
        text: "Audio tour",
        url: "http://audio.robotics.umich.edu/",
        searchTerms: "building tour guide visitor information walking self-guided exploration"
      },
      {
        text: "Student-led tour sign up",
        url: "https://form.jotform.com/212225992207151",
        searchTerms: "visit tour guide building prospective students visitors schedule guided"
      }
    ]
  },
  faculty: {
    title: "Faculty Resources",
    links: [
      {
        text: "Faculty search system",
        url: "https://deptapps.engin.umich.edu/facultysearch/committee?dept=210308",
        searchTerms: "hiring recruitment job applications candidates professor positions academic"
      },
      {
        text: "Faculty Activity Report (FAR)",
        url: "https://deptapps.engin.umich.edu/far/home?dept=210308",
        searchTerms: "annual report performance evaluation research teaching service accomplishments"
      },
      {
        text: "Faculty Research Admin Assignments",
        url: "https://docs.google.com/spreadsheets/d/13EN8rXQY5QetGVJ2NEg8m8DEVW0o9o-gLJS2tg8NRlk/edit?usp=sharing",
        searchTerms: "research administration staff support grants contracts proposals"
      },
      {
        text: "HR Request System (visitors, temporary appointments, research fellows, etc.)",
        url: "https://deptapps.engin.umich.edu/hr/request/new?dept=210308",
        searchTerms: "visitors temporary appointments researcher stipend unpaid fellows visitors adaa adjunct"
      }
    ]
  },
  makerspace: {
    title: "Makerspace",
    links: [
      {
        text: "Tool reservation",
        url: "https://www.supersaas.com/schedule/WSTPC/FRB_Makerspace_Tool_Calendar",
        searchTerms: "equipment tools workshop machinery reserve schedule book"
      },
      {
        text: "3D printing request",
        url: "https://docs.google.com/forms/d/e/1FAIpQLSecbRId6WVnP8wdAnKEcu0s-GnVLIk4kG8aaqG5kz5xkJgl-Q/viewform",
        searchTerms: "additive manufacturing prototyping fabrication print model request"
      },
      {
        text: "Wilson Center Training Sessions",
        url: "https://teamprojects.engin.umich.edu/home/training/",
        searchTerms: "safety certification workshop equipment training requirements machine shop"
      }
    ]
  },
  mair: {
    title: "M-Air",
    links: [
      {
        text: "M-Air Google Calendar",
        url: "https://calendar.google.com/calendar/embed?src=umich.edu_q4p3pqpesecd8tlmlcu5aioplg%40group.calendar.google.com",
        searchTerms: "drone facility schedule booking calendar reserve time slot flying testing"
      },
      {
        text: "Reservation",
        description: "Contact: mair-info@umich.edu",
        searchTerms: "book schedule reserve drone facility flying testing space request"
      }
    ]
  },
  communications: {
    title: "Communications & Marketing",
    links: [
      {
        text: "All Michigan Robotics Communications Resources",
        url: "https://drive.google.com/drive/u/0/folders/16Y-QifDAcqtZNPigTK2OjXLLWW0DJFM5",
        searchTerms: "marketing branding media resources communications materials templates guides"
      },
      {
        text: "Slideshows and sample slides",
        url: "https://drive.google.com/drive/u/0/folders/1-CLlDUaSdQd6rUvY98adGBDReYIErO8e",
        searchTerms: "presentations templates powerpoint slides deck design branding"
      },
      {
        text: "Logos (vector and raster)",
        url: "https://drive.google.com/drive/u/0/folders/1lL88YgX3dYwVhqQAF1HaCRRENy4J29At",
        searchTerms: "brand identity graphics images svg png eps design visual"
      },
      {
        text: "Letterhead",
        url: "https://drive.google.com/drive/u/0/folders/1j3erkedH_mde0zeR19fYYWy-D6lPxvCr",
        searchTerms: "official paper template document header stationery branding"
      },
      {
        text: "Business card ordering information",
        url: "https://drive.google.com/drive/u/0/folders/1AmUwUKjf3-8czLES_Tq8eoifLWFK93_M",
        searchTerms: "contact cards printing order business cards name title information"
      },
      {
        text: "Images and Zoom backgrounds",
        url: "https://drive.google.com/drive/u/0/folders/1YhlkrunPK0WFKf-zrGkXcnpLkeJjaSXm",
        searchTerms: "photos pictures virtual backgrounds media assets graphics wallpaper"
      },
      {
        text: "Rapid Research article request",
        url: "https://form.asana.com/?k=QXWWtmrae3jZr5gsiy1Byg&d=939514425027676",
        searchTerms: "news story coverage press media publication research highlight"
      },
      {
        text: "Robotics Content Submission form",
        url: "https://docs.google.com/forms/d/e/1FAIpQLSems8fcRc8jlR-B_PlLu85P8rqzjwC-b59lyJmXVZu9xF6UOg/viewform",
        searchTerms: "news updates announcements submit content website social media share"
      },
      {
        text: "Robotics Branded Apparel & Gear Shop",
        url: "https://www.aatwebstore.com/UMBOT/shop/home",
        searchTerms: "merchandise swag clothing shirts hoodies accessories store shop"
      },
      {
        text: "More information",
        description: "Contact Dan Newman: dnewms@umich.edu",
        searchTerms: "communications help contact marketing media assistance questions support"
      }
    ]
  }
};

// Icons for each section
const sectionIcons = {
  building: "mdi:office-building",
  it: "mdi:desktop-classic",
  purchasing: "mdi:cart",
  academics: "mdi:school",
  outreach: "mdi:account-group",
  makerspace: "mdi:tools",
  communications: "mdi:bullhorn",
  mair: "mdi:drone",
  faculty: "mdi:account-tie",
  department: "mdi:domain"
};
---

<MainLayout title="Department Intranet | Michigan Robotics" image={ogFeatureImage.src} imageAlt="The glass facade of the Robotics Building glowing in the sunrise" description="A list of resources for Michigan Robotics faculty, staff, and students.">
  <Breadcrumbs />
  <PageTitle title="Department Intranet" image={featuredImage} imageAlt="Robotics Building window facade in the sunrise" />

  <div class="max-w-6xl w-11/12 mx-auto my-4">
    <!-- Robot Welcome Animation -->
    <div class="mb-8 bg-white dark:bg-gray-800 rounded shadow-md p-6 overflow-hidden">
      <pre id="robot-animation" class="font-mono text-sm whitespace-pre overflow-x-auto text-gray-600 dark:text-gray-300">
        Loading...
      </pre>
    </div>

    <!-- Search Bar -->
    <div class="mb-4 not-prose">
      <div class="relative max-w-full mx-auto">
        <input 
          type="text" 
          id="search" 
          placeholder="Search resources..." 
          class="w-full h-10 px-4 py-2 rounded border dark:border-gray-700 
                 bg-white dark:bg-gray-800 text-gray-900 dark:text-white
                 focus:outline-none focus:ring-2 focus:ring-umichblue dark:focus:ring-taubmanTeal"
        >
      </div>
    </div>

    <!-- Quick Links -->
    <div class="mb-8 bg-white dark:bg-gray-800 rounded shadow-md p-6" id="quick-links">
      <h2 class="text-2xl font-roboto-condensed font-bold text-umichblue dark:text-white mb-4 flex items-center">
        <Icon name="mdi:star" class="w-6 h-6 text-umichblue dark:text-maize mr-2" />
        Frequently Used
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <a href="https://deptapps.engin.umich.edu/order/index/newform?dept=210308" 
           class="flex items-center text-gray-900 dark:text-white hover:text-arboretumBlue dark:hover:text-taubmanTeal">
          <Icon name="mdi:cart" class="w-4 h-4 mr-2 text-arboretumBlue dark:text-taubmanTeal" />
          Purchase Request
        </a>
        <a href="https://deptapps.engin.umich.edu/scheduling/?dept=210308" 
           class="flex items-center text-gray-900 dark:text-white hover:text-arboretumBlue dark:hover:text-taubmanTeal">
          <Icon name="mdi:calendar" class="w-4 h-4 mr-2 text-arboretumBlue dark:text-taubmanTeal" />
          Room Reservations
        </a>
        <a href="mailto:IT-Help-Robotics@umich.edu" 
           class="flex items-center text-gray-900 dark:text-white hover:text-arboretumBlue dark:hover:text-taubmanTeal">
          <Icon name="mdi:help" class="w-4 h-4 mr-2 text-arboretumBlue dark:text-taubmanTeal" />
          IT Help
        </a>
      </div>
    </div>

    <!-- Main Resource Grid -->
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {Object.entries(sections).map(([key, section]) => (
        <div class="bg-white dark:bg-gray-800 rounded shadow-md p-6">
          <h2 class="text-2xl font-roboto-condensed font-bold text-umichblue dark:text-white mb-4 flex items-center">
            <Icon name={sectionIcons[key]} class="w-6 h-6 text-umichblue dark:text-maize mr-2" />
            {section.title}
          </h2>
          <ul class="space-y-3">
            {section.links.map(link => (
              <li class="resource-item" data-search-terms={link.searchTerms || ''}>
                {link.url ? (
                  <a href={link.url} 
                     class="text-gray-900 dark:text-white hover:text-arboretumBlue dark:hover:text-taubmanTeal flex items-start" 
                     target="_blank">
                    <Icon name="mdi:arrow-right" class="w-4 h-4 mr-1 text-arboretumBlue dark:text-taubmanTeal mt-1" />
                    {link.text}
                  </a>
                ) : (
                  <div>
                    <div class="font-medium dark:text-white flex items-start">
                      <Icon name="mdi:information" class="w-4 h-4 mr-1 text-arboretumBlue dark:text-taubmanTeal mt-1" />
                      {link.text}
                    </div>
                    <div class="text-sm text-gray-600 dark:text-gray-400 ml-5">
                      {link.description.includes('@') ? (
                        <>
                          Email: <a href={`mailto:${link.description.split(': ')[1]}`} 
                            class="text-gray-900 dark:text-white hover:text-arboretumBlue dark:hover:text-taubmanTeal">
                            {link.description.split(': ')[1]}
                          </a>
                        </>
                      ) : (
                        link.description
                      )}
                    </div>
                  </div>
                )}
              </li>
            ))}
          </ul>
        </div>
      ))}
    </div>
  </div>
</MainLayout>

<script define:vars={{ userName }}>
// ASCII Robot frames
const frames = [
`
   _____
  [     ]
   |___| 
  /|   |\\
 /_|___|_\\
   |   |
   |___|
  `,
`
   _____
  [^   ^]  Hi
   |___| 
  /|   |\\
 /_|___|_\\
   |   |
   |___|
  `,
`
   _____
  [^   ^]  Hi ${userName}!
   |___| 
  /|   |\\
 /_|___|_\\
   |   |
   |___|
  `,
`
   _____
  [^   ^]  Hi ${userName}! 
   |___| /  Welcome to the
  /|   |\\   Robotics Intranet
 /_|___|_\\
   |   |
   |___|
  `
];

let currentFrame = 0;
const robotEl = document.getElementById('robot-animation');

function updateAnimation() {
  if (robotEl) {
    robotEl.textContent = frames[currentFrame];
    currentFrame = (currentFrame + 1) % frames.length;
  }
}

// Initial state
updateAnimation();

// Animate every 1 second
const interval = setInterval(updateAnimation, 1000);

// Stop animation after 4 seconds (after showing all frames)
setTimeout(() => {
  clearInterval(interval);
}, frames.length * 1000);

// Search functionality
const searchInput = document.getElementById('search');
const resourceItems = document.querySelectorAll('.resource-item');
const quickLinksSection = document.getElementById('quick-links');

searchInput?.addEventListener('input', (e) => {
  const searchTerm = (e.target as HTMLInputElement).value.toLowerCase();
  
  // Hide/show quick links section based on search
  if (quickLinksSection) {
    quickLinksSection.style.display = searchTerm ? 'none' : '';
  }
  
  resourceItems.forEach(item => {
    const text = item.textContent?.toLowerCase() || '';
    const searchTerms = item.getAttribute('data-search-terms')?.toLowerCase() || '';
    const matches = text.includes(searchTerm) || searchTerms.includes(searchTerm);
    (item as HTMLElement).style.display = matches ? '' : 'none';
    
    // Show/hide section cards if they have no visible items
    const parentCard = item.closest('.bg-white');
    if (parentCard) {
      const visibleItems = Array.from(parentCard.querySelectorAll('.resource-item'))
        .some(item => (item as HTMLElement).style.display !== 'none');
      (parentCard as HTMLElement).style.display = visibleItems ? '' : 'none';
    }
  });
});
</script> 